<div class="text-center container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Paso 2 - Catálogo de Películas</h1>
        </div>
    </div>
    <div class="row" id="ShowSeats">
        <hr/>
    </div>
    <button id="To3rdStep" style="display:none;"> Siguiente </button>
</div>