<div style="text-align:left;">
    <p><b>Película: </b><span id="movie"></span></p>
    <p><b>Horario: </b><span id="runningTime"></span></p>
    <p><b>Tipo de boleto: </b><span id="ticketType"></span></p>
    <p><b>Efectivo: </b><span id="cash"></span></p>
    <p><b>Credito: </b><span id="credit"></span></p>
    <p><b>Puntos: </b><span id="points"></span></p>
    <p><b>Total: </b><span id="total"></span></p>
    <p>------</p>
    <br />
    <br />

    <button asp-controller="TicketSale" asp-action="Step1">Regresar</button>
</div>