<div class="card col-6 align-items-center">
  <div class="card-body col-12">
    <div id="PaymentCard">
        <blockquote class="blockquote mb-0 align-items-center">
            <p>Ingrese su número de membresía</p>
            <input type="text" class="form-control col-12 col-xl-12" id="cardNumber" placeholder="Numero de Tarjeta" maxlength="16">
            <br />
            <input type="text" class="form-control col-12 col-xl-12" id="mes" placeholder="MM" maxlength="2">
            <label> / </label>
            <input type="text" class="form-control col-12 col-xl-12" id="ano" placeholder="YY" maxlength="2">
            <br />
            <input type="text" class="form-control col-12 col-xl-12" id="cvv" placeholder="CVV">
            <button class="col-6 col-xl-6 btn btn-light mt-2 align-self-end" id="FINISHED">Continuar</button>
        </blockquote>
      </div>
</div>